*{
    padding:0;
    margin:0;
    box-sizing:0;
}

.container-fluid{
    padding: 20px;
    background-color: black;
}

.nav-item{
    padding-right: 60px;
    padding-left: 60px;
}

.nav-link{
    font-size:120%;
    font-family: 'Bebas Neue', cursive;
    color:white;
}