*{
    padding:0;
    margin:0;
    box-sizing:0;
}

body{
    background-color: black;
}

.container-fluid{
    padding: 20px;
    background-color: #f69d04;
    margin-bottom: 30px;
}

.nav-item{
    margin-left: 80px;
}

.nav-link{
    font-size:140%;
    font-family: 'Bebas Neue', cursive;
}

a{
    text-align:right;
}

.nav-item:hover{
    border-bottom: 3px solid black;
    font-size: 140%;
}

nav div a img:hover{
    border: 2px solid black;
}

.dropdown-menu{
    background-color:#f69d04 ;
}

.dropdown-item{
    text-align:center;
    font-family: 'Bebas Neue', cursive;
}

.cards{
    margin-top:30px;
    margin-bottom:55px;
}

main section div:hover{
    opacity: 50%;
}
.card{
    margin-left: 65px;
    margin-top:20px;
    border: solid 2px #f69d04;
    background-color: black;
}

.card-text{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color:#f69d04;
}

footer{
    padding:20px;
    background-color:grey;
    margin-bottom: 30px;
}

footer section img{
    height:30px;
    margin-left:50px;
    border-radius:20%;
}

footer section img:hover{
    opacity: 50%;
}

.iconos{
    padding:20px;
}
.txtFooter{
    font-size:110%;
    color: black;
    text-align:justify;
    padding:20px;
}

.card-row{
    margin-top:30px;
    margin-bottom:30px;
    border: 1px solid #f69d04;
    margin-left:2.5px;
}

main div h2{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 200%;
}

.h2{
    background-color: white;
    padding:20px;
}

.card-title{
    text-align:center;
    font-family: 'Bebas Neue', cursive;
    font-size:300%;
    padding:20px;
    color:#f69d04;
}

.card-var{
    margin-top:60px;
    margin-left:30px;
}

.list-group-item{
    background-color: black;
    color:white;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}
